@keyframes fadeInAnimation {
    from {opacity: 0;}
    to {opacity: 100;}
}

@keyframes fadeOutAnimation {
    from {opacity: 100;}
    to {opacity: 0;}
}

@keyframes expandTitle {
    from {font-size: 20px;}
    to {font-size: 28px;}
}

@keyframes collapseTitle {
    from {font-size: 28px;}
    to {font-size: 20px;}
}

.mainBody {
    background-color: black;
    color: white;
    font-family: 'Play', sans-serif;
}

header {
    overflow: hidden;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background: #000000;
    background-image: url("https://www.alticeusa.com/sites/default/files/alticeusa-logo.png");
    background-repeat: no-repeat;
    background-position: 50% 42%;
    height: 135px;
    z-index: 1;
    width: 100%;
}

.headerTitle {
    height: auto;
    display: inline-block;
    width: 90%;
}

.headerTitle .titleContent {
    text-shadow: 3px 3px 3px black;
    margin-top: 0;
    margin-bottom: 0;
    float: left;
    text-decoration: none;
    color: #ffffff;
}

header table {
    width: 100%;
}

.headerDiv {
    width: 50%;
}

.headerDiv div {
    text-align: center;
}

.textShadow {
    text-shadow: 3px 3px 3px black;
}

.headerDiv div h4 {
    display: block;
    margin-bottom: 0;
    padding: 0px;
    margin-top: 0;
}

 #loginShow {
    display: inline-block;
    vertical-align: top;
    color: white;
    background-color: black;
 }

 .loginBox {
    display: none;
    height: auto;
 }

.mainbody {
    margin-top: 1px;
}

/* Query Live Site Styles */
.retgridtable {
    border: 2px solid #FFFFFF;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

.retgridtable td, .retgridtable th {
    border: 1px solid #b8b8b8;
    padding: 3px 4px;
}

.retgridtable tbody td {
    font-size: 16px;
}

.retgridtable thead {
  border-bottom: 1px solid #b8b8b8;
}

.retgridtable thead th {
    font-size: 18px;
    font-weight: bold;
    color: #b8b8b8;
    text-align: center;
    border-left: 1px solid #b8b8b8;
}

.retgridtable thead th:first-child {
    border-left: none;
}

.retgridtable tfoot td {
    font-size: 14px;
}

.mapouter {
    position: relative;
    text-align: right;
    height: 100%;
    width: 100%;
}

.gmap_canvas {
    overflow: hidden;
    background: none;
    height: 100%;
    width: 100%;
}

.retGridTableButton {
    width: 100%;
    border: 2px solid white;
    background-color: black;
    color: white;
    font-size: 20px;
    font-family: 'Play', sans-serif;
    animation-name: collapseTitle;
    animation-duration: 0.5s;
}

.retGridTableButton:hover {
    animation-name: expandTitle;
    animation-duration: 0.5s;
    font-size: 28px;
}

#nocInfo li {
    margin-left: 20px;
}

#nocInfo {
    display: block;
}

#ipInfo {
    display: none;
}

#retInfo {
    display: none;
}

#gsmInfo {
    display: none;
}

#umtsInfo {
    display: none;
}

#lteInfo {
    display: none;
}

#transDBiframe {
    display: none;
}

/* Dashboard Child Styles */
table .dashboardTable {
    border: 2px solid #FFFFFF;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}
table .dashboardTable td, th {
    border: 1px solid #b8b8b8;
    padding: 1px;
    width: 50%;
    line-height: 0;
}
table .dashboardTable img {
    padding: 0px;
    margin: 0px;
    border: none;
    max-width: 100%;
    height: auto;
}

