{% extends "Main_Base.html" %}
{% block dashboard_main_child %}
<article>
    <select id="dashboard_graphSelect">
        <option value="dashboard_trxUsage" onclick="showGraphGrid('dashboard_trxUsage');">BSC TRX Utilization</option>
        <option value="dashboard_bscFeGeInt" onclick="showGraphGrid('dashboard_bscFeGeInt');">BSC FE/GE Interface</option>
        <option value="dashboard_rncFeGeInt" onclick="showGraphGrid('dashboard_rncFeGeInt');">RNC FE/GE Interface</option>
        <option value="dashboard_neDisconnectedReport" onclick="showGraphGrid('dashboard_neDisconnectedReport');">NE OOS Report</option>
    </select>
    <section class="dashboard_gridBody" id="dashboard_bscFeGeInt">
        <figure>
            <img src="/static/images/BSC_01_RRA_FE-GE_Interface.png">
        </figure>
        <figure>
            <img src="/static/images/BSC_05_RRA_FE-GE_Interface.png">
        </figure>
        <figure>
            <img src="/static/images/BSC_03_VM_FE-GE_Interface.png">
        </figure>
        <figure>
            <img src="/static/images/BSC_04_VM_FE-GE_Interface.png">
        </figure>
        <figure>
            <img src="/static/images/BSC_02_STGO_FE-GE_Interface.png">
        </figure>
        <figure>
            <img src="/static/images/BSC_06_STGO_FE-GE_Interface.png">
        </figure>
    </section>
    <section class="dashboard_gridBody" id="dashboard_trxUsage">
        <figure class="twoColumns">
            <img src="/static/images/trx_usage.png">
        </figure>
    </section>
    <section class="dashboard_gridBody" id="dashboard_neDisconnectedReport">
        <figure class="twoColumns">
            <img src="/static/images/neDisconnectedReport.jpg">
        </figure>
    </section>
</article>
{% endblock %}