{% extends "Main_Base.html" %}
{% block dashboard_main_child %}
<article>
    <table class="dashboardTable">
        <tbody>
			<tr>
                <th>
                    <h1>BSC TRX Usage</h1>
                </th>
            </tr>
			<tr>
                <td>
                    <figure class="trxUsageGraph">
                        <img src="/static/images/trx_usage.png">
                    </figure>
                </td>
            </tr>
            <tr>
                <th>
                    <h1>BSC FE/GE Interface</h1>
                </th>
            </tr>
            <tr>
                <td>
                    <figure class="intUsageGraph">
                        <img src="/static/images/BSC_01_RRA_FE-GE_Interface.png">
                    </figure>
                </td>
                <td>
                    <figure class="intUsageGraph">
                        <img src="/static/images/BSC_05_RRA_FE-GE_Interface.png">
                    </figure>
                </td>
            </tr>
            <tr>
                <td>
                    <figure class="intUsageGraph">
                        <img src="/static/images/BSC_03_VM_FE-GE_Interface.png">
                    </figure>
                </td>
                <td>
                    <figure class="intUsageGraph">
                        <img src="/static/images/BSC_04_VM_FE-GE_Interface.png">
                    </figure>
                </td>
            </tr>
            <tr>
                <td>
                    <figure class="intUsageGraph">
                        <img src="/static/images/BSC_02_STGO_FE-GE_Interface.png">
                    </figure>
                </td>
                <td>
                    <figure class="intUsageGraph">
                        <img src="/static/images/BSC_06_STGO_FE-GE_Interface.png">
                    </figure>
                </td>
            </tr>
        </tbody>
    </table>
</article>
{% endblock %}