{% extends "Main_Base.html" %}
{% block livesitequerydisplay %}
	<table class="retgridtable">
		<tbody>
			<tr>
				<td width="50%" style="text-align: left;">
					<ul>
						<li style="margin-left: 20px;">PTI Code: {{ pticodeh }}</li>
						<li style="margin-left: 20px;">Latitude: {{ lath }}</li>
						<li style="margin-left: 20px;">Longitude: {{ longh }}</li>
						<li style="margin-left: 20px;">Trans ID: {{ transDbDatah.transSiteId }}</li>
						<li style="margin-left: 20px;">Tricom Name: {{ tricomnameh }}</li>
						<li style="margin-left: 20px;">NE Names:
							<ul>
								{% for ne in nelisth %}
		  							<li>{{ ne }}</li>
		  						{% endfor %}
							</ul>
						</li>
						<li style="margin-left: 20px;">Address: {{ transDbDatah.address }}</li>
						<li style="margin-left: 20px;">Tower Topology: {{ transDbDatah.towerTopo }}</li>
						<li style="margin-left: 20px;">Location Type: {{ transDbDatah.locationType }}</li>
						<li style="margin-left: 20px;">Tx Type: {{ transDbDatah.txType }}</li>
						<li style="margin-left: 20px;">Has MAN Router? {{ transDbDatah.manRouter }}</li>
						<li style="margin-left: 20px;">Has IBN Router? {{ transDbDatah.ibnRouter }}</li>
					</ul>
				</td>
				<td width="50%">
					<div class="mapouter">
						<div class="gmap_canvas">
							<iframe width="100%" height="300px" id="gmap_canvas" src="https://maps.google.com/maps?q={{ lath }}%2C%20{{ longh }}&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
							</iframe>
							<a href="https://www.embedgooglemap.net/blog/private-internet-access-coupon/">
							</a>
						</div>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
	<div>
		<table class="retgridtable">
		  	<thead>
		  		<tr>
		  			<th>RET Device Number</th>
		  			<th>Device Name</th>
		  			<th>Controller Subrack</th>
		  			<th>Vendor Code</th>
		  			<th>Serial</th>
		  			<th>Actual Tilt</th>
		  			<th>Antenna Model</th>
		  			<th>Min Tilt</th>
		  			<th>Max Tilt</th>
		  		</tr>
		  	</thead>
		  	<tbody>
		  		{% for i in retDeviceh.retdeviceno %}
		  			<tr><td>{{ retDeviceh.retdeviceno[loop.index0] }}</td><td>{{ retDeviceh.retdevicename[loop.index0] }}</td><td>{{ retDeviceh.retsubrack[loop.index0] }}</td><td>{{ retDeviceh.retmanufacturer[loop.index0] }}</td><td>{{ retDeviceh.retserial[loop.index0] }}</td><td>{{ retDeviceh.rettilt[loop.index0] }}</td><td>{{ retDeviceh.retantmodel[loop.index0] }}</td><td>{{ retDeviceh.retantmintilt[loop.index0] }}</td><td>{{ retDeviceh.retantmaxtilt[loop.index0] }}</td></tr>
		  		{% endfor %}
		  	</tbody>
		</table>
	</div>
	<div>
		<table class="retgridtable">
			<tr><th>eGBTS Name</th><td colspan="13">{{ gsmCellh.egbtsname }}</td></tr>
			<tr><th>BSC</th><td colspan="13">{{ gsmCellh.bscname }}</td></tr>
			<tr><th>eGBTS ID</th><td colspan="13">{{ gsmCellh.egbtsid }}</td></tr>
			<tr><th>eGBTS Index</th><td colspan="13">{{ gsmCellh.btsidx }}</td></tr>
			<tr>
				<th>Cell Name</th>
				<th>Cell ID</th>
				<th>Cell Index</th>
				<th>Band</th>
				<th>LAC</th>
				<th>NCC</th>
				<th>BCC</th>
				<th>HSN</th>
				<th>RA</th>
			</tr>
			<tbody>
				{% for i in gsmCellh.gcellname %}
		  			<tr><td>{{ gsmCellh.gcellname[loop.index0] }}</td><td>{{ gsmCellh.gcellid[loop.index0] }}</td><td>{{ gsmCellh.gcellidx[loop.index0] }}</td><td>{{ gsmCellh.gband[loop.index0] }}</td><td>{{ gsmCellh.glac[loop.index0] }}</td><td>{{ gsmCellh.ncc[loop.index0] }}</td><td>{{ gsmCellh.bcc[loop.index0] }}</td><td>{{ gsmCellh.hsn[loop.index0] }}</td><td>{{ gsmCellh.grac[loop.index0] }}</td></tr>
		  		{% endfor %}
			</tbody>
		</table>
		<table class="retgridtable">
			<tr><th>NodeB Name</th><td colspan="8">{{ umtsCellh.unodebname }}</td></tr>
			<tr><th>RNC</th><td colspan="8">{{ umtsCellh.urncname }}</td></tr>
			<tr>
				<th>Cell Name</th>
				<th>Cell ID</th>
				<th>Band</th>
				<th>LAC</th>
				<th>RAC</th>
				<th>PSC</th>
				<th>UL ARFCN</th>
				<th>DL ARFCN</th>
			</tr>
			<tbody>
				{% for i in umtsCellh.ucellname %}
		  			<tr><td>{{ umtsCellh.ucellname[loop.index0] }}</td><td>{{ umtsCellh.ucellid[loop.index0] }}</td><td>{{ umtsCellh.uband[loop.index0] }}</td><td>{{ umtsCellh.ulac[loop.index0] }}</td><td>{{ umtsCellh.urac[loop.index0] }}</td><td>{{ umtsCellh.upsc[loop.index0] }}</td><td>{{ umtsCellh.ularfcn[loop.index0] }}</td><td>{{ umtsCellh.dlarfcn[loop.index0] }}</td></tr>
		  		{% endfor %}
			</tbody>
		</table>
		<table class="retgridtable">
			<tr><th>eNodeB Name</th><td colspan="8">{{ lteCellh.enbname }}</td></tr>
			<tr><th>eNodeB ID</th><td colspan="8">{{ lteCellh.enbid }}</td></tr>
			<tr>
				<th>Cell Name</th>
				<th>Cell ID</th>
				<th>Band</th>
				<th>eARFCN</th>
				<th>PCI</th>
				<th>Root Index</th>
				<th>Tranmission Mode</th>
				<th>TAC</th>
				<th>Cell Radius</th>
			</tr>
			<tbody>
				{% for i in lteCellh.lcellname %}
		  			<tr><td>{{ lteCellh.lcellname[loop.index0] }}</td><td>{{ lteCellh.lcellid[loop.index0] }}</td><td>{{ lteCellh.lband[loop.index0] }}</td><td>{{ lteCellh.earfcn[loop.index0] }}</td><td>{{ lteCellh.pci[loop.index0] }}</td><td>{{ lteCellh.prach[loop.index0] }}</td><td>{{ lteCellh.txmode[loop.index0] }}</td><td>{{ lteCellh.tac[loop.index0] }}</td><td>{{ lteCellh.cellrad[loop.index0] }}</td></tr>
		  		{% endfor %}
			</tbody>
		</table>
	</div>
	<div>
		<iframe src="http://transshooting/" frameborder="0" style="width: 100%; height: 800px;"></iframe>
	</div>
{% endblock %}